body {
  font-family: 'Red Hat Display', sans-serif;
  position: relative; }

.margintop {
  margin-top: 80px; }

.breadcrumb-wrapper {
  text-align: center; }
  .breadcrumb-wrapper .breadcrumb-list {
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 0; }
    .breadcrumb-wrapper .breadcrumb-list li {
      display: inline-block; }
  .breadcrumb-wrapper a {
    color: #aa9144;
    text-decoration: none; }

.main-nav {
  height: 80px;
  background: #fff !important;
  border-bottom: 1px solid #d6d6d6; }
  .main-nav .nav-item {
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold; }

.mobile-nav {
  position: fixed;
  background: #fff;
  width: 65%;
  height: 100%;
  right: 0;
  z-index: 9999;
  display: none; }
  .mobile-nav .mob-nav-list {
    list-style: none;
    margin-top: 20px;
    padding-left: 15px; }
    .mobile-nav .mob-nav-list li {
      padding-top: 5px;
      padding-bottom: 5px; }
  .mobile-nav li {
    color: #aa9144; }
  .mobile-nav .inner-mob-list li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px; }
  .mobile-nav a {
    color: #aa9144;
    text-decoration: none; }
  .mobile-nav button {
    color: #aa9144;
    box-shadow: none; }
    .mobile-nav button:hover {
      color: #aa9144; }
    .mobile-nav button:focus {
      box-shadow: none; }
  .mobile-nav .btn-link:hover {
    color: #aa9144;
    text-decoration: none; }
  .mobile-nav .nav-groups {
    position: relative; }
    .mobile-nav .nav-groups h5 .btn-link:after {
      position: absolute;
      right: 10%;
      top: 50%;
      font-family: 'FontAwesome';
      content: "\f106";
      float: right;
      font-size: 18px;
      font-weight: bold;
      color: #aa9144;
      transform: translateY(-50%); }
    .mobile-nav .nav-groups h5 .btn-link.collapsed:after {
      position: absolute;
      right: 10%;
      top: 50%;
      font-family: 'FontAwesome';
      content: "\f107";
      float: right;
      font-size: 18px;
      font-weight: bold;
      color: #aa9144;
      transform: translateY(-50%); }

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  z-index: 9998;
  display: none; }

.main-footer {
  color: white;
  background: black;
  font-weight: 100;
  padding: 40px 0; }
  .main-footer .footer-wrapper {
    background-color: #282725;
    border-radius: 10px;
    padding: 25px 30px; }
  .main-footer .footer-heads {
    margin-bottom: 30px;
    font-weight: bold; }
  .main-footer .footer-list {
    list-style: none;
    padding: 0 0 0 10px; }
  .main-footer .footer-links {
    padding: 8px 0;
    color: #747474; }
  .main-footer i {
    margin-right: 10px; }
  .main-footer a {
    color: #747474; }
    .main-footer a:hover {
      color: #aa9144; }
  .main-footer .footer-newsletter {
    color: #747474; }
  .main-footer .email-input {
    background: #393836;
    border: none;
    padding: 24px 18px;
    border-radius: 30px 0 0 30px; }
  .main-footer .newsletter-form {
    margin-top: 30px; }
  .main-footer .subcribe-btn {
    border-radius: 30px 30px 30px 0;
    background: #aa9144;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px; }
  .main-footer .footer-box {
    padding: 0 5px; }

/*
 **
 *** Mediaqueries*/
@media screen and (min-width: 992px) {
  .footer-box {
    width: calc(100%/3); } }
.landing-section {
  background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5);
  background-image: url("../images/home/banner.jpg");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.landing-txt-wrapper {
  color: #fff; }
  .landing-txt-wrapper h1 {
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 55px;
    padding-bottom: 20px; }
  .landing-txt-wrapper p {
    font-size: 18px;
    padding-bottom: 20px; }
  .landing-txt-wrapper .landing-btn {
    background-color: #aa9144;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 22px;
    font-weight: bold; }

.landing-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.services-section {
  padding: 70px 0; }
  .services-section .services-heading {
    text-align: center; }
  .services-section .services-desc {
    text-align: center; }
  .services-section .card-wrapper {
    padding: 20px 0; }
    .services-section .card-wrapper h4 {
      padding: 20px 0 8px 0; }
    .services-section .card-wrapper .service-price {
      font-weight: bold;
      font-size: 24px;
      color: #aa9144; }
    .services-section .card-wrapper .service-btn-wrapper {
      text-align: center;
      padding-top: 10px; }
      .services-section .card-wrapper .service-btn-wrapper .service-btn {
        background-color: #aa9144;
        color: white;
        padding: 10px 25px;
        border-radius: 22px;
        font-weight: bold; }

.about-section {
  padding: 80px 0;
  background: #ececec; }
  .about-section img {
    width: 100%; }
  .about-section .about-description {
    background: #fff;
    padding: 40px; }
    .about-section .about-description a {
      color: #aa9144; }
    .about-section .about-description p {
      font-size: 18px;
      padding-bottom: 20px; }
    .about-section .about-description .about-btn {
      background: #aa9144;
      color: #fff;
      padding: 10px 15px;
      border-radius: 24px; }

.testimonials-section {
  padding: 90px 0; }
  .testimonials-section .test-head {
    text-align: center; }
  .testimonials-section .test-description {
    text-align: center; }
  .testimonials-section .card-wrapper {
    padding: 20px 0; }
    .testimonials-section .card-wrapper .test-content {
      font-size: 22px;
      font-weight: normal; }
    .testimonials-section .card-wrapper .author-name {
      font-weight: bold; }
    .testimonials-section .card-wrapper .author-description {
      font-size: 14px;
      color: #aa9144; }

.free-section {
  background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url("../images/home/free.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
  color: #fff;
  position: relative; }
  .free-section .cta-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .free-section .cta-btn {
    color: white;
    background: #aa9144;
    border-radius: 24px;
    padding: 10px 20px; }
  .free-section p {
    font-size: 18px; }

.news-section {
  padding: 90px 0; }
  .news-section .news-head {
    text-align: center;
    margin-bottom: 40px; }
  .news-section .news-row {
    padding: 50px 30px;
    background-color: #F4F1EC;
    border-radius: 10px; }
    .news-section .news-row img {
      border-radius: 10px; }
    .news-section .news-row a {
      text-decoration: none;
      color: black; }
      .news-section .news-row a:hover {
        color: #aa9144; }
    .news-section .news-row small {
      font-size: 14px;
      color: #aa9144; }
    .news-section .news-row .read-btn {
      padding: 10px 20px;
      background: #aa9144;
      border-radius: 22px;
      color: white;
      margin-top: 10px; }

/*
 **
 *** Mediaqueries*/
@media screen and (max-width: 991px) {
  .landing-txt-wrapper h1 {
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 30px; }

  .news-section .news-row img {
    margin-bottom: 15px;
    width: 100%; } }
@media screen and (max-width: 500px) {
  .about-section .about-description {
    padding: 10px; } }
.service-landing {
  background: linear-gradient(rgba(36, 39, 38, 0.5), rgba(36, 39, 38, 0.5)), rgba(36, 39, 38, 0.5) url("../images/home/banner.jpg");
  background-size: cover;
  height: 300px; }
  .service-landing h1 {
    font-weight: normal; }

.service-appointment {
  background: #aa9144;
  padding: 40px 0;
  color: white; }
  .service-appointment a {
    color: #aa9144;
    text-decoration: none; }
    .service-appointment a:hover {
      color: white; }
  .service-appointment .cta-btn {
    color: #aa9144;
    background: #fff;
    font-size: 18px;
    padding: 20px 30px;
    text-transform: uppercase;
    border-radius: 34px;
    font-weight: bold;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .service-appointment .cta-btn:hover {
      background: #8e7424; }
      .service-appointment .cta-btn:hover a {
        color: white; }

/*
 **
 *** Mediaqueries*/
@media screen and (max-width: 768px) {
  .service-appointment .appoint-head {
    font-size: 30px; } }
@media screen and (max-width: 767px) {
  .service-appointment .cta-btn {
    font-size: 16px;
    padding: 15px 20px; } }
@media screen and (max-width: 375px) {
  .service-appointment .appoint-head {
    font-size: 26px; }
  .service-appointment .cta-btn {
    font-size: 16px;
    padding: 12px 10px; } }

/*# sourceMappingURL=main.css.map */
